.navHeader{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    /* background-color: aqua; */
}

.form-input{
    width: 45%;
    margin: 1rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    text-align: center;
}

.btn-meme{
    height: 3rem;
    text-align: center;
    border-radius: 1rem;
    font-weight: 500;
    color: rgb(12, 13, 14);
    margin: 1rem;
}

.picimage {
    color: rgba(107, 40, 40, 0);
    background: 
      linear-gradient(90deg,#3c7588 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: image;
            background-clip: image;
    transition: .4s;
  }
  .picimage:hover {
    --_p: 0%;
  }
  .d-img{
    align-items: center;
  }